<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="..\logs\ai-pr-review-nlog-internal.log">

  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File"
				name="allfile"
				fileName="${currentdir:cached=true}\..\logs\ai-pr-review-nlog-all-today.log"
				archiveFileName="${currentdir:cached=true}\..\logs\archive\ai-pr-review-nlog-all.{#}.log"
                archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd HH_mm_ss" maxArchiveFiles="30"
				layout="${longdate}|${event-properties:item=EventId_Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All other logs apart from Request logging-->
    <logger name="*" minlevel="Error" writeTo="allfile" />
  </rules>
</nlog>